[submodule "addons/busted/module"]
	path = addons/busted/module
	url = https://github.com/LuaCATS/busted.git
[submodule "addons/luassert/module"]
	path = addons/luassert/module
	url = https://github.com/LuaCATS/luassert.git
[submodule "addons/openresty/module"]
	path = addons/openresty/module
	url = https://github.com/LuaCATS/openresty.git
[submodule "addons/love2d/module"]
	path = addons/love2d/module
	url = https://github.com/LuaCATS/love2d.git
[submodule "addons/cc-tweaked/module"]
	path = addons/cc-tweaked/module
	url = https://gitlab.com/carsakiller/cc-tweaked-documentation.git
[submodule "addons/skynet/module"]
	path = addons/skynet/module
	url = https://github.com/LuaCATS/skynet.git
[submodule "addons/luaecs/module"]
	path = addons/luaecs/module
	url = https://github.com/LuaCATS/luaecs.git
[submodule "addons/lovr/module"]
	path = addons/lovr/module
	url = https://github.com/LuaCATS/lovr.git
[submodule "addons/luafilesystem/module"]
	path = addons/luafilesystem/module
	url = https://github.com/LuaCATS/luafilesystem.git
[submodule "addons/cocos4.0/module"]
	path = addons/cocos4.0/module
	url = https://github.com/LuaCATS/cocos4.0.git
[submodule "addons/moneymoney/module"]
	path = addons/moneymoney/module
	url = https://github.com/lukasbestle/moneymoney-devkit.git
[submodule "addons/luvit/module"]
	path = addons/luvit/module
	url = https://github.com/Bilal2453/luvit-meta.git
	branch = release
[submodule "addons/lpeg/module"]
	path = addons/lpeg/module
	url = https://github.com/LuaCATS/lpeg.git
[submodule "addons/nodemcu-esp32/module"]
	path = addons/nodemcu-esp32/module
	url = https://github.com/serg3295/nodeMCU-emmylua.git
	branch = nodemcu-esp32
[submodule "addons/nodemcu-esp8266/module"]
	path = addons/nodemcu-esp8266/module
	url = https://github.com/serg3295/nodeMCU-emmylua.git
	branch = nodemcu-esp8266
[submodule "addons/luasocket/module"]
	path = addons/luasocket/module
	url = https://github.com/LuaCATS/luasocket.git
[submodule "addons/luazip/module"]
	path = addons/luazip/module
	url = https://github.com/LuaCATS/luazip.git
[submodule "addons/md5/module"]
	path = addons/md5/module
	url = https://github.com/LuaCATS/md5.git
[submodule "addons/lzlib/module"]
	path = addons/lzlib/module
	url = https://github.com/LuaCATS/lzlib.git
[submodule "addons/tex-luatex/module"]
	path = addons/tex-luatex/module
	url = https://github.com/LuaCATS/tex-luatex.git
[submodule "addons/slnunicode/module"]
	path = addons/slnunicode/module
	url = https://github.com/LuaCATS/slnunicode.git
[submodule "addons/tex-lualatex/module"]
	path = addons/tex-lualatex/module
	url = https://github.com/LuaCATS/tex-lualatex.git
[submodule "addons/penlight/module"]
	path = addons/penlight/module
	url = https://github.com/goldenstein64/pl-definitions.git
	branch = publish
[submodule "addons/xmake/module"]
	path = addons/xmake/module
	url = https://github.com/LelouchHe/xmake-luals-addon.git
	branch = publish
[submodule "addons/luaharfbuzz/module"]
	path = addons/luaharfbuzz/module
	url = https://github.com/LuaCATS/luaharfbuzz.git
[submodule "addons/argparse/module"]
	path = addons/argparse/module
	url = https://github.com/goldenstein64/argparse-definitions.git
	branch = publish
[submodule "addons/love-nuklear/module"]
	path = addons/love-nuklear/module
	url = https://github.com/goldenstein64/love-nuklear-definitions.git
  branch = publish
[submodule "addons/bee/module"]
	path = addons/bee/module
	url = https://github.com/LuaCATS/bee.git
[submodule "addons/lualogging/module"]
	path = addons/lualogging/module
	url = https://github.com/goldenstein64/lualogging-definitions.git
	branch = publish
[submodule "addons/moonloader/module"]
	path = addons/moonloader/module
	url = https://github.com/GovnocodedByChapo/moonloader-definitions.git
[submodule "addons/tex-lualibs/module"]
	path = addons/tex-lualibs/module
	url = https://github.com/LuaCATS/tex-lualibs.git
[submodule "addons/tex-luametatex/module"]
	path = addons/tex-luametatex/module
	url = https://github.com/LuaCATS/tex-luametatex.git
[submodule "addons/garrysmod/module"]
	path = addons/garrysmod/module
	url = https://github.com/luttje/glua-api-snippets.git
	branch = lua-language-server-addon
[submodule "addons/yue/module"]
	path = addons/yue/module
	url = https://github.com/Frityet/luayue-definitions.git
[submodule "addons/transformice/module"]
	path = addons/transformice/module
	url = https://github.com/MouseTool/tfm-types.git
	branch = luals-addon
[submodule "addons/luaunit/module"]
	path = addons/luaunit/module
	url = https://github.com/serg3295/luaunit.git
[submodule "addons/halion/module"]
	path = addons/halion/module
	url = https://github.com/misohoza/halion.git
[submodule "addons/minetest/module"]
	path = addons/minetest/module
	url = https://git.sr.ht/~fgaz/minetest-lls-definitions
[submodule "addons/REFramework-LLS/module"]
	path = addons/REFramework-LLS/module
	url = https://github.com/youwereeatenbyalid/REFramework-LLS.git
[submodule "addons/unbound-api/module"]
	path = addons/unbound-api/module
	url = https://github.com/Wolf-64/unbound-api.git
[submodule "addons/mirai/module"]
	path = addons/mirai/module
	url = https://github.com/cloudwindy/mirai-types.git
[submodule "addons/fivem/module"]
	path = addons/fivem/module
	url = https://github.com/tf-framework/fivem-lls-addon.git
	branch = dist
[submodule "addons/lmathx/module"]
	path = addons/lmathx/module
	url = https://github.com/LuaCATS/lmathx.git
	branch = main
[submodule "addons/lldebugger/module"]
	path = addons/lldebugger/module
	url = https://github.com/b0mbie/local-lua-debugger-api.git
[submodule "addons/dkjson/module"]
	path = addons/dkjson/module
	url = https://github.com/goldenstein64/dkjson-definitions
	branch = publish
[submodule "addons/lapis/module"]
	path = addons/lapis/module
	url = https://github.com/Sylviettee/lapis-annotations.git
[submodule "addons/lua-cjson/module"]
	path = addons/lua-cjson/module
	url = https://github.com/goldenstein64/lua-cjson-definitions
	branch = publish
[submodule "addons/StormworksAddonLua/module"]
	path = addons/StormworksAddonLua/module
	url = https://github.com/Ierdna100/StormworksAddonLua
