[submodule "addons/busted/module"]
	path = addons/busted/module
	url = git@github.com:LuaCATS/busted.git
[submodule "addons/luassert/module"]
	path = addons/luassert/module
	url = git@github.com:LuaCATS/luassert.git
[submodule "addons/openresty/module"]
	path = addons/openresty/module
	url = git@github.com:LuaCATS/openresty.git
[submodule "addons/love2d/module"]
	path = addons/love2d/module
	url = git@github.com:LuaCATS/love2d.git
[submodule "addons/cc-tweaked/module"]
	path = addons/cc-tweaked/module
	url = git@gitlab.com:carsakiller/cc-tweaked-documentation.git
[submodule "addons/skynet/module"]
	path = addons/skynet/module
	url = https://github.com/LuaCATS/skynet.git
[submodule "addons/luaecs/module"]
	path = addons/luaecs/module
	url = https://github.com/LuaCATS/luaecs.git
